.git/
log/
tmp/
*.log
*.pid
*.swp
.DS_Store
public/assets/
public/packs/
node_modules/
yarn-error.log
yarn-debug.log
Dockerfile
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
config/deploy
public/packs
public/packs-test
coverage/